<%- include ('partials/header'); %>

<%- include ('partials/navbar'); %>

    <div class="container">
        <div class="row">
            <form
                    class="col s12"
                    action="results"
                    method="post"
            >
                <div class="row">
                    <div class="input-field">
                        <input
                            id="email"
                            type="email"
                            name="email"
                            class="validate"
                        >
                        <label for="email">Search</label>
                        <button
                            class="waves-effect waves-light btn"
                            type="submit"
                        >
                            Search
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col s3">
                <form
                        action="/results"
                        method="post"
                >
                    <div class="row">
                        <div>
                            <select data-app-component="select">
                                <option value="" disabled selected>Filter by country</option>
                                <% _.forEach(country, function(value) { %>
                                    <option value="<%= value._id %>"><%= value._id %></option>
                                <% }) %>
                            </select>
                            <label>Filter by country</label>
                        </div>
                        <button
                                class="waves-effect waves-light btn"
                                type="submit"
                        >
                            Apply
                        </button>
                    </div>
                </form>
            </div>
            <div class="col s9">
                <% _.forEach(data, function (val) { %>
                    <div class="row">
                        <% _.forEach(val, function (val2) { %>
                            <div class="col s12 m4">
                                <div class="card">
                                    <div class="card-image">
                                        <img src="/uploads/<%= val2.image %>" alt="">
                                        <span class="card-title">
                                    <%= val2.name %>
                                </span>
                                    </div>
                                    <div class="card-content">
                                        <p><%= val2.country %></p>
                                    </div>
                                    <div class="card-action">
                                        <a href="/group/<%= val2.name %>">This is a link</a>
                                    </div>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>
<!--
  This HTML file is a template.
  If you open it directly in the browser, you will see an empty page.

  You can add webfonts, meta tags, or analytics to this file.
  The build step will place the bundled scripts into the <body> tag.

  To begin the development, run `npm start` or `yarn start`.
  To create a production bundle, use `npm run build` or `yarn build`.
-->
<!-- Compiled and minified JavaScript -->
<script src="/assets/js/app.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>-->
<!--<script>-->
<!--  document.addEventListener('DOMContentLoaded', function() {-->
<!--    // var elems = document.querySelectorAll('select');-->
<!--    const elem = document.querySelector('select');-->
<!--    // console.log('elems', elems)-->
<!--    // var instances = M.FormSelect.init(elems, options);-->
<!--    const instances = M.FormSelect.init(elem);-->
<!--    console.log('instances', instances);-->

<!--    elem.addEventListener('change', function () {-->
<!--      console.log('change');-->

<!--      const values = instances.getSelectedValues();-->
<!--      console.log('values', values);-->
<!--    }, false);-->
<!--  });-->
<!--</script>-->
</body>
</html>
