<%- include ('../partials/header'); %>

<%- include ('../partials/navbar'); %>

<div class="container" data-app-component="groupchat">
    <div class="row">
        <form
                class="col s12 m12 l6 offset-l3"
                action="/"
                method="post"
                data-groupchat-ref="message-form"
        >

            <div class="row">
                <h4>Users</h4>
                <div>Online</div>
                <div class="num-value" data-groupchat-ref="num-value">
                </div>
                <div class="users" data-groupchat-ref="users">
                </div>
            </div>
            </div>

            <h4 class="center-align">user: <%= user.username %></h4>
            <h4 class="center-align"><%= groupName %></h4>

            <div class="row">
                <div class="chat-area">
                    <ul data-groupchat-ref="messages">
                        <!--                <li class="left">-->
                        <!--                    <span>-->
                        <!--                        <img src="" alt="">-->
                        <!--                    </span>-->
                        <!--                    <div>-->
                        <!--                        <span>Username</span>-->
                        <!--                        Message body-->
                        <!--                    </div>-->
                        <!--                </li>-->
                    </ul>
                    <script
                            id="message-template"
                            data-groupchat-ref="message-template"
                            type="text/template"
                    >
                        <li>
                            <span>
                                <img src="" alt="">
                            </span>
                            <div>
                                <b>{{ sender }}</b>
                                {{ text }}
                            </div>
                        </li>
                    </script>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <textarea
                        id="textarea1"
                        class="materialize-textarea"
                        data-groupchat-ref="msg"></textarea>
                    <label for="textarea1">Textarea</label>
                </div>
            </div>

            <input
                    type="hidden"
                    id="groupName"
                    value="<%= groupName %>"
                    data-groupchat-ref="groupName"
            >
            <input
                    type="hidden"
                    id="sender"
                    value="<%= user.username %>"
                    data-groupchat-ref="userName"
            >

            <div class="row">
                <button class="waves-effect waves-light btn right" type="submit">Send</button>
            </div>
        </form>
    <div>

    <div data-app-component="modal">
        <div id="modal1" class="modal" data-modal-ref="modal">
            <div class="modal-content">
                <h4 data-modal-ref="modal-headline">Modal Header</h4>
                <p>A bunch of text</p>
                <form action="" method="post" data-modal-ref="modal-form">
                    <input type="hidden" name="receiverName" value="" data-modal-ref="receiver-name">
                </form>
                <a href="" data-modal-ref="name-link">View Profile</a>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
        </div>
    </div>
</div>
</div>
<!--
  This HTML file is a template.
  If you open it directly in the browser, you will see an empty page.

  You can add webfonts, meta tags, or analytics to this file.
  The build step will place the bundled scripts into the <body> tag.

  To begin the development, run `npm start` or `yarn start`.
  To create a production bundle, use `npm run build` or `yarn build`.
-->
<!-- Compiled and minified JavaScript -->
<script src="/socket.io/socket.io.js"></script>
<script src="/assets/js/app.js"></script>
</body>
</html>
